<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Dealers</title>
</head>
<body>
    <form action="<%= `https://localhost:${PORT}/login`%>" method="post">
        <input type="text" id="username" name="username" placeholder="Username" required>
        <input type="password" id="password" name="password" placeholder="Password" required>
        <button class="login-button">Login</button>
    </form>

    <form action="<%= `https://localhost:${PORT}/register`%>" method="post">
        <label>User Name:</label> <input type="text" name="username" id="username"><br>
        <label>Password:</label> <input type="password" name="password" id="password"><br>
        <label>email:</label> <input type="email" name="email" id="email"><br>
        <button type="submit">register</button>
    </form>
</body>
</html>